<!DOCTYPE html>
<html lang="{{ page.locale }}">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }} {% if page.category %}&mdash; {{ page.category }} {% endif %}&mdash; {{ site.title }}</title>
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{%- if layout.stylesheets %}
		{%- for stylesheet in layout.stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{% link {{ stylesheet }} %}">
		{%- endfor %}
	{%- endif %}
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{% link css/default.sass %}">
	{% seo title=false %}
	{%- if page.keywords %}
		{%- assign keywords = page.keywords | concat: site.keywords %}
	{%- else %}
		{%- assign keywords = site.keywords %}
	{%- endif %}
	<meta name="keywords" content="{{ keywords | default: empty | join: ", " }}">
	{% feed_meta %}
</head>
<body>
	{{ content }}
	<footer>
		Contents:
		<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
			<img alt="CC-BY-SA 4.0" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
		</a>
		<br>
		Code:
		<a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">
			<img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
		</a>
	</footer>
</body>
</html>
